{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
  <div class="container">
   {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <div class='alert alert-success' role='alert'>
              <strong>{{ message }}</strong>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="container">
    <div class="page-header">
      <h1>Kiltahuoneen pääsyoikeus / Guild room access</h1>
    </div>
    <div>
      Oulun yliopiston viimeaikaisten muutosten myötä kiltamme ei ole enää vastuussa pilkeistä.
      Tämän myötä olemme päättäneet uudistaa ja parantaa kiltahuoneelle pääsyä.
      Voit hakea Oulun Tietoteekkarit ry:n kiltahuoneelle pääsyoikeutta sen julkisten aukioloaikojen ulkopuolella tällä hakemuksella.
      Killan hallitus käsittelee hakemuksen ja hyväksyttyjen hakijoiden tiedot välitetään yliopiston virastomestareille kulkuoikeuden täytäntöönpanemiseksi.
      Kiltahuoneelle voi hakea oikeuksia sekä vanhantyyppisille pilkeille että 24/7-kulkukortille.
      Vanhoja pilkkejä siis ei tarvitse palauttaa tämän muutoksen myötä.
      <p></p>

      Tällä hakemuksella haet kulkuoikeutta Oulun Tietoteekkarit ry kiltahuoneelle.
      Tällä kulkuoikeudella sinulla on mahdollista käyttää kiltahuonetta mihin tahansa aikaan kunhan seuraat kiltahuoneen sääntöjä. 
      Jos sinulla on jotain kysyttävää ota yhteyttä killan sisäministeriin sähköpostilla sisaministeri@otit.fi tai tule käymään kiltahuoneella ja kysy paikan päällä.
      <p></p>
      ***
      <p></p>
      Our guild is no more in charge of access cards due to the University of Oulu making changes in the card system.
      But because we want our guild room to be available for the members of our guild,
      we are making changes to the accessibility to be more safe.
      Now you can request access to the guild room by filling in this form.
      The access is send to the university’s info desk if the guild board accepts your application.
      We give out access to the old access cards and/or the new 24/7 access cards (campus card).
      <p></p>
      By filling in this form you are requesting access to the guild room of Oulun Tietoteekkarit ry.
      With this access you can use the guild room at any hour of the day as long as you follow the rules of the guild room.
      If you have any questions contact the guild’s sisäministeri by email: sisaministeri@otit.fi or come to the guild room to ask your question.
      <p></p>
    </div>

    {{ wtf.quick_form(form) }}
  </div>
{% endblock %}

